[Unit]
Description=Weekly NetBird Automatic Update Timer
After=network-online.target

[Timer]
OnCalendar=Sun 03:00
Persistent=true
RandomizedDelaySec=15m

[Install]
WantedBy=timers.target